@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&family=Poppins:wght@600&display=swap");

:root {
  /* Global Font Variables */
  --font-primary: "Merriweather", serif;
  --font-secondary: "Lato", sans-serif;

  /* Base Colors */
  --color-body: #f3f4d3;
  --color-highlight: #fcee21;

  /* Section Colors */
  --color-section-bg: #183114;
  --color-section-content: #446129;

  /* Text Colors */
  --color-paragraph: #fafafa;

  /* Card Colors */
  --color-card-bg: #dcde9f;

  /* Interaction Colors */
  --color-hover: #f8ed41;

  /* Social Icon Colors */
  --color-social-icon-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-body);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-secondary);
}

/*
===============================================================================================================
HEADER STYLES
===============================================================================================================
*/

#navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-section-bg);
  padding: 0px 60px;
  z-index: 10;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  position: relative;
  max-height: 106px;
  width: auto;
  bottom: -8px;
}

.navbar-link ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style: none;
}

.navbar-link ul > li > a {
  text-decoration: none;
  color: var(--color-social-icon-bg);
  font-family: var(--font-secondary);
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar-link ul > li > a:hover {
  color: var(--color-hover);
  font-weight: bold;
}
.navbar-link ul > li > a:active {
  color: var(--color-hover);
  font-weight: bold;
}

/* Mobile Menu Icon */
.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-social-icon-bg);
}

/* Mobile Navigation Drawer */
.mobile-nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mobile-nav-drawer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 280px;
  height: 100vh;
  background-color: var(--color-section-bg);
  z-index: 999;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: block;
}

.drawer-header {
  padding: 20px;
  text-align: right;
  position: relative;
  z-index: 1000;
  margin-top: 40px;
}

.close-drawer {
  font-size: 24px;
  cursor: pointer;
  color: var(--color-social-icon-bg);
}

.drawer-content {
  padding: 45px;
  height: calc(100% - 64px);
  /* overflow-y: auto; */
}

.drawer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer-content ul li {
  margin-bottom: 20px;
}

.drawer-content ul li a {
  text-decoration: none;
  color: var(--color-social-icon-bg);
  font-family: var(--font-secondary);
  font-size: 20px;
  transition: color 0.3s ease;
  display: block;
  padding: 10px 0;
}

.drawer-content ul li a:hover {
  color: var(--color-hover);
  font-weight: bold;
}

/* Show overlay and drawer when active */
.mobile-nav-overlay.active {
  display: block;
  opacity: 1;
}

.mobile-nav-drawer.active {
  right: 0;
  visibility: visible;
}

/* ------------- Responsive Navbar styles -------------------------------------------------------------------- */
@media (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  #navbar {
    padding: 0 20px;
    position: sticky;
    z-index: 997;
  }

  .navbar-logo img {
    max-height: 80px;
  }
}

/*
===============================================================================================================
HERO BANNER STYLES
===============================================================================================================
*/
#heroBanner {
  background-color: var(--color-section-bg);
}

.hero-banner-container {
  display: flex;
  flex-direction: row;
  padding: 80px;
}

.hero-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-banner-title {
  color: var(--color-highlight);
  font-size: 46px;
  font-weight: 700;
}

.hero-banner-paragraph {
  color: var(--color-social-icon-bg);
  font-size: 28px;
}

.hero-banner-email {
  width: 100%;
}

/*? ------------- Responsive HERO BANNER styles -------------------------------------------------------------------- */

/* Responsive styles for tablet devices */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .hero-banner-container {
    padding: 60px;
  }

  .hero-banner-title {
    font-size: 36px;
  }

  .hero-banner-paragraph {
    font-size: 22px;
  }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 767px) {
  .hero-banner-container {
    flex-direction: column;
    padding: 40px;
    position: relative;
    left: -16px;
  }

  .hero-banner-content {
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }

  .hero-banner-title {
    font-size: 28px;
  }

  .hero-banner-paragraph {
    font-size: 18px;
  }

  .hero-banner-email {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .email-input-field {
    width: 70%;
    padding: 10px 15px;
  }

  .hero-banner-img {
    margin-top: 20px;
    text-align: center;
  }

  .hero-banner-img img {
    width: 80%;
    height: auto;
  }
}

/*
===============================================================================================================
ABOUT BANNER STYLES
===============================================================================================================
*/
#aboutPage {
  padding: 65px;
}

.about-heading {
  font-size: 50px;
  text-decoration: center;
  font-weight: bold;
  color: var(--color-section-bg);
  text-align: center;
}

.about-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 8rem;
}

.about-paragraph {
  padding: 35px 5rem 0px 10px;
  font-size: 30px;
  line-height: 1.8;
}

.about-detail-image {
  padding: 40px 10px 0px 10px;
  width: 400px;
  height: 400px;
}

.about-introduction {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.about-introduction-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-introduction-heading {
  font-size: 25px;
  font-weight: bold;
  margin-left: 14px;
}

/* .about-introduction a {
  color: var(--color-section-bg);
  margin-left: 10px;
  font-size: 20px;
} */

.know-more-link {
  display: inline-block;
  margin-left: 1rem;
  color: var(--color-section-bg);
  text-decoration: none;
  transition: color 0.3s ease;
}

.know-more-link:hover {
  color: var(--color-section-content);
}

.about-intro-image {
  padding: 40px 82px 0px 10px;
  width: 400px;
  height: 400px;
}

.image-container {
  position: relative;
  width: 400px;
  height: 400px;
}

.about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  z-index: 9;
  position: relative;
  padding: 40px 10px 0px 10px;
}

.triangle-card-top {
  position: absolute;
  width: 250px;
  height: 250px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  transition: all 0.3s ease;
}

.triangle-card-bottom {
  position: absolute;
  width: 250px;
  height: 250px;
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  transition: all 0.3s ease;
}

.triangle-card-top.top-right {
  top: 25px;
  right: -5px;
  background-color: var(--color-section-content);
  z-index: 2;
}

.triangle-card-bottom.bottom-left {
  bottom: -18px;
  left: -10px;
  background-color: var(--color-card-bg);
  z-index: 2;
}

.triangle-card-top.top-right.intro-card-bg {
  background-color: var(--color-section-content);
}

.triangle-card-bottom.bottom-left.intro-card-bg {
  background-color: var(--color-section-content);
}

.triangle-card-top.top-right.detail-card-bg {
  background-color: var(--color-section-bg);
}

.triangle-card-bottom.bottom-left.detail-card-bg {
  background-color: var(--color-section-bg);
}

/* Tablet Responsive Styles */
@media screen and (max-width: 1024px) {
  .about-heading {
    font-size: 42px;
  }

  .about-paragraph {
    font-size: 26px;
  }

  .image-container {
    width: 350px;
    height: 350px;
  }
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  #aboutPage {
    padding: 30px 15px;
  }

  .about-section {
    flex-direction: column;
    gap: 30px;
  }

  .about-content-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .about-heading {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .about-paragraph {
    font-size: 20px;
    text-align: center;
    padding: 0 15px;
  }

  .image-container {
    width: 300px;
    height: 300px;
  }

  .about-introduction-content {
    order: 1;
    text-align: center;
  }

  .about-introduction-heading {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .know-more-link {
    margin-left: 0;
    margin-top: 15px;
  }
}

/* Small Mobile Devices */
@media screen and (max-width: 480px) {
  .about-heading {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .about-paragraph {
    font-size: 18px;
    text-align: left;
    padding: 0px;
  }

  .image-container {
    width: 250px;
    height: 250px;
    margin-left: 55px;
  }

  .about-details {
    flex-direction: column;
  }

  .about-image {
    width: 100%;
    height: 100%;
    padding: 40px 10px 0px 10px;
  }

  .about-introduction-content {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-introduction {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*
===============================================================================================================
SOCIAL MEDIA ICON STYLES
===============================================================================================================
*/

#shareSocialIcon {
  margin-top: 80px;
}

.share-heading {
  font-size: 45px;
  color: var(--color-section-bg);
  text-align: center;
  margin-bottom: 20px;
}

.share-social-link {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 45px;
}

.social-icon {
  /* background-color: var(--color-section-bg); */
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.share-social-link img {
  width: 4rem;
  height: 5rem;
}

/* Medium Tablets (768px - 1024px) */
@media screen and (max-width: 1024px) {
  .share-heading {
    font-size: 35px;
  }

  .social-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .share-social-link img {
    width: 2rem;
    height: 2rem;
  }

  /* .footer-content p {
    font-size: 12px;
    width: 100%;
    word-spacing: 3px;
  } */
}

/* Small Tablets and Large Phones (576px - 767px) */
@media screen and (max-width: 767px) {
  .share-heading {
    font-size: 30px;
  }

  .social-icon {
    width: 3rem;
    height: 3rem;
  }

  .share-social-link img {
    width: 1.8rem;
    height: 1.8rem;
  }

  /* .footer-content p {
    font-size: 12px;
    width: 100%;
    word-spacing: 3px;
  } */
}

/* Mobile Devices (up to 575px) */
@media screen and (max-width: 575px) {
  .share-heading {
    font-size: 25px;
  }

  .social-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .share-social-link img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/*
===============================================================================================================
LATEST COURSES HOME SECTION STYLES
===============================================================================================================
*/
#latestCourses {
  padding: 25px;
}

.latest-courses-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.latest-courses-heading {
  color: var(--color-section-bg);
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
}

.courses-container {
  /* display: flex;
  flex-direction: row;
  gap: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px 20px;
}

.courses-card {
  display: flex;
  flex-direction: column;
  border: 0px;
  outline: none;
  border-radius: 20px;
  width: 350px;
  height: 500px;
  transition: all 0.3s ease-in-out;
}

.courses-card img {
  width: 350px;
  height: auto;
}

.courses-img {
  position: relative;
}

.courses-label {
  position: absolute;
  bottom: 10px;
  background-color: var(--color-section-bg);
  color: var(--color-highlight);
  border-radius: 0px 20px 20px 0px;
  width: 132px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-secondary);
  font-size: 17px;
  font-weight: 500;
  z-index: 1;
  padding: 2px;
}

.courses-content {
  background: var(--color-card-bg);
  padding: 15px;
  margin-top: -5px;
  border-radius: 0px 0px 20px 20px;
}

.courses-heading {
  color: var(--color-section-bg);
  font-size: 30px;
}

.courses-content p {
  color: #446129;
  font-size: 16px;
  font-weight: 400;
}

.courses-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.latest-courses-btn {
  border-radius: 15px;
  background: var(--color-section-bg);
  padding: 10px;
  width: 10%;
  height: 30px;
  cursor: pointer;
  margin-top: -105px;
}

.latest-courses-btn button {
  background: var(--color-section-bg);
  color: var(--color-highlight);
  font-size: 20px;
  border: 0;
  outline: none;
  margin-left: 20px;
  margin-top: 3px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 767px) {
  .courses-container {
    /* display: flex;
       flex-direction: row;
       gap: 20px;
    */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px 10px;
  }

  .latest-courses-btn {
    width: 40%;
  }
}

/*
===============================================================================================================
COURSES BLOGS PAGE STYLES
===============================================================================================================
*/
#blogsPage {
  overflow-x: hidden;
}

.blog-page-container {
  padding: 70px 110px;
  display: flex;
  flex-direction: column;
}

.blogs-page-heading {
  font-size: 44px;
  font-weight: bold;
  color: var(--color-section-bg);
  text-align: center;
}

.blog-page-content {
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
}

.blog-page-category {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 70px;
}

.blog-category-heading {
  font-size: 24px;
  font-weight: bold;
}

.blog-category-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 7px;
}

.blog-category-list li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-secondary);
}

.course-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.blog-post-container {
  flex-basis: 80%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
  gap: 20px 20px;
}

.blog-page-btn {
  border-radius: 15px;
  background: var(--color-section-bg);
  padding: 14px 31px;
  width: 18%;
  height: 65px;
  cursor: pointer;
}

.blog-page-btn button {
  background: var(--color-section-bg);
  color: var(--color-highlight);
  font-size: 20px;
  border: 0;
  outline: none;
  margin-left: 20px;
  margin-top: 3px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-family: var(--font-secondary);
}

@media screen and (max-width: 767px) {
  .blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px 10px;
  }

  /* .latest-blog-btn {
    width: 40%;
  } */

  .blog-page-btn {
    width: 40%;
  }

  .latest-blog-heading {
    font-size: 30px;
  }
}

/* ---------------------- latest blogs and  blog page home section style -------------------------------*/
#latestBlogs {
  padding: 25px;
  position: relative;
  overflow: hidden;
}

.latest-blogs-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.latest-blog-heading {
  color: var(--color-section-bg);
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px 20px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  border: 0px;
  outline: none;
  border-radius: 20px;
  width: 350px;
  height: 500px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  box-sizing: border-box;
}

.blog-card img {
  width: 350px;
  height: auto;
}

.card-img {
  position: relative;
}

.card-label {
  position: absolute;
  bottom: 10px;
  background-color: var(--color-section-bg);
  color: var(--color-highlight);
  border-radius: 0px 20px 20px 0px;
  width: 132px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-secondary);
  font-size: 17px;
  font-weight: 500;
  z-index: 1;
  padding: 2px;
}

.card-content {
  background: var(--color-card-bg);
  padding: 15px;
  margin-top: -5px;
  border-radius: 0px 0px 20px 20px;
}

.card-heading {
  color: var(--color-section-bg);
  font-size: 30px;
}

.card-content p {
  color: #446129;
  font-size: 16px;
  font-weight: 400;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.latest-blog-btn {
  border-radius: 15px;
  background: var(--color-section-bg);
  padding: 10px;
  width: 10%;
  height: 30px;
  cursor: pointer;
  margin-top: -105px;
}

.latest-blog-btn button {
  background: var(--color-section-bg);
  color: var(--color-highlight);
  font-size: 20px;
  border: 0;
  outline: none;
  margin-left: 20px;
  margin-top: 3px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/*
===============================================================================================================
NEWSLETTER BANNER STYLES
===============================================================================================================
*/
#newsletter {
  padding: 80px 250px;
}

.newsletter-container {
  padding: 10px 20px;
}

.newsletter-card {
  /* background-color: var(--color-section-bg); */
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    var(--color-section-bg),
    var(--color-section-content)
  );
}

.newsletter-content {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-image-text {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}

.newsletter-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter-text h3 {
  color: var(--color-highlight);
  font-size: 30px;
  font-weight: 900;
}

.newsletter-text p {
  font-size: 16px;
  color: var(--color-social-icon-bg);
  word-spacing: 8px;
  letter-spacing: 0.3px;
  line-height: 25px;
}

.newsletter-email-input {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.email-input-field {
  width: 100%;
  padding: 12px 19px;
  border: 2px solid var(--color-highlight);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  color: var(--color-section-content);
  background-color: var(--color-section-bg);
  color: var(--color-paragraph);
}

.email-input-field::placeholder {
  color: var(--color-highlight);
  opacity: 0.7;
}
.email-submit-btn {
  position: absolute;
  right: 0px;
  top: 51%;
  transform: translateY(-50%);
  background-color: var(--color-highlight);
  color: var(--color-section-bg);
  padding: 14px 45px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--font-secondary);
}

.email-submit-btn:hover {
  background-color: var(--color-hover);
  color: var(--color-section-bg);
}

.newsletter-caption {
  color: var(--color-paragraph);
  font-size: 12px;
  font-family: var(--font-secondary);
  margin-top: -14px;
}

/* Responsive styles for tablet devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #newsletter {
    padding: 60px 100px;
  }

  .newsletter-image-text {
    gap: 5rem;
  }

  .newsletter-text h3 {
    font-size: 26px;
  }

  .newsletter-text p {
    font-size: 15px;
    line-height: 22px;
  }

  .email-input-field {
    font-size: 14px;
  }

  .email-submit-btn {
    padding: 12px 40px;
    font-size: 13px;
    margin-right: -1px;
  }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 767px) {
  #newsletter {
    padding: 40px 20px;
  }

  .newsletter-container {
    position: relative;
    right: 15px;
  }

  .newsletter-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .newsletter-image-text {
    flex-direction: column;
    gap: 10px;
    margin-right: -30px;
  }

  .newsletter-image {
    align-self: center;
    width: 40%;
  }

  .newsletter-text {
    align-self: center;
    width: 100%;
    text-align: center;
  }

  .newsletter-text h3 {
    font-size: 22px;
  }

  .newsletter-text p {
    font-size: 14px;
    line-height: 20px;
  }

  .newsletter-email-input {
    width: 100%;
    max-width: none;
  }

  .email-input-field {
    font-size: 14px;
    padding: 10px 15px;
  }

  .email-submit-btn {
    font-size: 12px;
    padding: 12px 28px;
    margin-right: 7px;
  }

  .newsletter-caption {
    font-size: 10px;
    text-align: center;
  }
}

/*
===================================================================================================================
CONTACT STYLES
===================================================================================================================
*/
#contactPage {
  background-color: var(--color-section-bg);
  padding: 30px 0px 30px 80px;
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.contact-content {
  flex-basis: 50%;
}

.contact-content-heading {
  font-size: 44px;
  color: var(--color-paragraph);
  font-weight: bold;
}

.contact-content-text {
  font-size: 25px;
  color: var(--color-paragraph);
  font-weight: 300;
  margin-top: 45px;
  padding-right: 9rem;
}

.contact-details {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.details img {
  width: 30px;
}

.details p {
  color: var(--color-paragraph);
  font-size: 18px;
  font-weight: 300;
}

.contact-form {
  flex-basis: 50%;
  background-color: var(--color-section-content);
}

.email-heading {
  color: var(--color-highlight);
  font-size: 34px;
  font-weight: bold;
}

/* Contact Form Styles */
.contact-form {
  flex-basis: 50%;
  background-color: var(--color-section-content);
  padding: 20px 0px 40px 40px;
  /* border-radius: 10px; */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
  /* align-items: center; */
}

.form-group {
  width: 80%;
}

/* Input and Textarea Styling */
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid var(--color-hover);
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
}

/* Placeholder Styling */
.form-container input::placeholder,
.form-container textarea::placeholder {
  color: var(--color-hover); /* Yellow placeholder text */
  opacity: 0.7;
  font-family: var(--font-secondary);
  font-size: 20px;
}

/* Textarea Specific Styling */
.form-container textarea {
  min-height: 150px;
  resize: vertical; /* Allow vertical resizing */
}

/* Submit Button Styling */
.submit-btn {
  width: 25%;
  padding: 12px;
  background-color: var(--color-hover);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-section-bg);
  margin-left: 12rem;
}

.submit-btn:hover {
  background-color: var(--color-highlight);
  transform: translateY(-2px);
}

/* Accessibility and Focus States */
.form-container input:focus,
.form-container textarea:focus {
  border-color: var(--color-highlight);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}

.contact-or {
  color: var(--color-paragraph);
  margin-left: 17rem;
  margin-top: 8px;
  font-size: 20px;
}

.contact-social-link {
  margin-left: 140px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.contact-social-link img {
  width: 35px;
  transition: transform 0.3s ease;
}

.contact-social-link img:hover {
  transform: scale(1.1);
}

/* Tablet Responsive Design */
@media screen and (max-width: 1024px) {
  #contactPage {
    padding: 30px 0px 40px 40px;
  }

  .contact-container {
    gap: 20px;
  }

  .contact-content-heading {
    font-size: 36px;
  }

  .contact-content-text {
    font-size: 22px;
    padding-right: 4rem;
  }

  .contact-details {
    margin-top: 60px;
  }

  .contact-form {
    padding: 30px;
  }

  .email-heading {
    font-size: 30px;
  }

  .submit-btn {
    width: 35%;
    margin-left: 8rem;
  }

  .contact-or {
    margin-left: 12rem;
  }

  .contact-social-link {
    margin-left: 3rem;
  }
}

/* Mobile Responsive Design */
@media screen and (max-width: 768px) {
  #contactPage {
    padding: 20px 15px;
  }

  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .contact-content,
  .contact-form {
    flex-basis: 100%;
  }

  .contact-content-heading {
    font-size: 28px;
    text-align: center;
  }

  .contact-content-text {
    font-size: 18px;
    padding-right: 0;
    text-align: center;
    margin-top: 20px;
  }

  .contact-details {
    margin-top: 30px;
    align-items: center;
  }

  .details {
    width: 100%;
    justify-content: center;
  }

  .contact-form {
    padding: 20px;
  }

  .email-heading {
    font-size: 24px;
    text-align: center;
  }

  .form-container input::placeholder,
  .form-container textarea::placeholder {
    font-size: 14px;
  }

  .contact-social-link {
    gap: 15px;
  }

  .contact-social-link img {
    width: 30px;
  }
}

/* Mobile Responsive Design */
@media screen and (max-width: 768px) {
  #contactPage {
    padding: 20px 15px;
  }

  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .contact-content,
  .contact-form {
    flex-basis: 100%;
  }

  .contact-content-heading {
    font-size: 28px;
    text-align: center;
  }

  .contact-content-text {
    font-size: 18px;
    padding-right: 0;
    text-align: center;
    margin-top: 20px;
  }

  .contact-details {
    margin-top: 30px;
    align-items: center;
  }

  .details {
    width: 100%;
    justify-content: center;
  }

  .contact-form {
    padding: 20px;
  }

  .email-heading {
    font-size: 24px;
    text-align: center;
  }
  .form-group {
    width: 94%;
  }
  .form-container input::placeholder,
  .form-container textarea::placeholder {
    font-size: 14px;
  }

  .contact-social-link {
    gap: 15px;
  }

  .contact-social-link img {
    width: 30px;
  }
}

/* Extra Small Mobile Devices */
@media screen and (max-width: 480px) {
  .contact-content-heading {
    font-size: 24px;
  }

  .contact-content-text {
    font-size: 16px;
    padding: 0rem 2rem;
  }

  .details {
    flex-direction: column;
    text-align: center;
  }

  .contact-social-link {
    gap: 10px;
  }

  .contact-social-link img {
    width: 25px;
  }

  .submit-btn {
    margin-left: 5rem;
    width: 41%;
    font-size: 15px;
  }

  .contact-or {
    margin-left: 8rem;
  }

  .contact-social-link {
    margin-left: 25px;
    margin-top: 10px;
    display: flex;
    gap: 6px;
  }

  .form-group {
    width: 90%;
  }
}

/*
===============================================================================================================
FOOTER STYLES
===============================================================================================================
*/
#footerSection {
  background-color: var(--color-section-bg);
}
.footer-container {
  padding: 25px 50px 15px 50px;
}

.footer-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-heading {
  font-size: 30px;
  font-weight: bolder;
  color: var(--color-highlight);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14rem;
}

.footer-content p {
  font-size: 16px;
  width: 33.33%;
  word-spacing: 6px;
  color: var(--color-paragraph);
}

.footer-menu-1 {
  width: 33.33%;
  margin-top: -10px;
}

.footer-menu-1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-menu-1 ul li {
  font-size: 17px;
}

.footer-menu-1 ul li a {
  text-decoration: none;
  color: var(--color-paragraph);
  font-family: var(--font-secondary);
}

.footer-menu-1 ul li a:hover {
  color: var(--color-hover);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-social-link img {
  width: 3rem;
  height: 5rem;
}

.footer-footnote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-footnote p {
  font-size: 16px;
  color: var(--color-social-icon-bg);
  letter-spacing: 0.5px;
}

/* ------------- Responsive footer styles -------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  #footerSection {
    padding: 15px 20px;
  }

  .footer-container {
    padding: 20px;
  }

  .footer-body {
    gap: 20px;
  }

  /* Align the paragraph at the top to the left */
  .footer-heading {
    text-align: left;
    font-size: 24px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer-content p {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
  }

  /* Display menu sections side by side */
  .footer-menu-1 {
    width: 48%;
  }

  .footer-menu-1 ul {
    gap: 4px;
  }

  /* Social media icons aligned to the left */
  .footer-social-link {
    justify-content: flex-start;
    gap: 10px;
  }

  .footer-social-link img {
    width: 2rem;
    height: 2rem;
  }

  /* Copyright and Developed By stacked vertically */
  .footer-footnote {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-footnote p {
    text-align: center;
    font-size: 14px;
  }

  /* Ensure consistent spacing */
  .footer-body > * {
    margin-bottom: 10px;
  }

  /* Handle edge cases */
  .footer-body p,
  .footer-menu-1 ul li a {
    word-wrap: break-word;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #footerSection {
    padding: 20px 40px;
  }

  .footer-container {
    padding: 30px 40px;
  }

  .footer-body {
    flex-direction: column;
    gap: 25px;
  }

  .footer-heading {
    text-align: left;
    font-size: 28px;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .footer-content p {
    width: 33%;
    font-size: 16px;
    line-height: 1.6;
  }

  .footer-menu-1 {
    width: 25%;
  }

  .footer-menu-1 ul {
    gap: 6px;
  }

  .footer-social-link {
    justify-content: center;
    gap: 15px;
  }

  .footer-social-link img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer-footnote {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .footer-footnote p {
    font-size: 15px;
    text-align: left;
  }
}
